.article-block {
  display: block;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 40px;
  text-decoration: none;
  color: #000;
}

.article-block:first-child {
  margin-top: 10px;
}

.article-block:last-child {
  margin-bottom: 0;
}
