.addArticle {
  padding: 7px 17px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.addArticle-text {
  font-size: 16px;
  color: #7A08FA;
  font-weight: 550;
  letter-spacing: .5px;
}