.main__title {
  font-size: 20px;
  text-align: center;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 400px;
}

.profile-edit__input {
  margin-bottom: 7px;
  padding: 5px 10px;
  font-size: 16px;
}

.profile-edit-form button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #a82ffc;
  color: #fff;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.profile-edit-form button:hover {
  background-color: #9e56d1;
}
